@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-heading-1 {
  font-size: 2rem;
  font-weight: bold;
}

.cm-heading-2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.cm-heading-content-1 {
  font-size: 2rem;
  font-weight: bold;
}

.cm-heading-content-2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.cm-heading-content-3,
.cm-heading-content-4,
.cm-heading-content-5,
.cm-heading-content-6 {
  font-weight: 600;
}

.cm-bold {
  font-weight: bold;
}

.cm-heading-marker-hidden,
.cm-bold-marker-hidden {
  opacity: 0;
}

.editor-surface .cm-editor {
  height: 100%;
  background-color: transparent;
}

.editor-surface .cm-scroller {
  @apply text-gray-100;
}

.editor-surface .cm-content {
  caret-color: white;
}

.editor-surface .cm-cursor,
.editor-surface .cm-dropCursor {
  border-left-color: white !important;
}