@tailwind base;
@tailwind components;
@tailwind utilities;

.wmde-markdown h1, .wmde-markdown h2, .wmde-markdown h3, .wmde-markdown h4, .wmde-markdown h5, .wmde-markdown h6 {
  margin-top: 5px;
  margin-bottom: 0px;
  border: none;
}

/* Checkbox propre */
.w-md-editor-preview input[type="checkbox"] {
  transform: scale(1.1);
  margin-right: 6px;
}
